html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #2F2F2B;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 600;
    color: #00563b;
    text-transform: uppercase;
}

#testing-index {
    height: 1000px;
    background-color: #00563b;
}

/* Container */

.container {
    max-width: unset;
}

/* Forms */

.form-container {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;
}

.form-container .form-group input,
.form-container .form-group select {
    max-width: 475px;
    margin: 0 auto;
}

.form-content {
    /* Makes the form pages the height of the user's device minus the footer and spacers */
    min-height: calc(100vh - 110px - 79px - 15px);
}

.form-content p {
    font-size: 16px;
}

.form-content a {
    color: #E09407;
}

.form-content .btn-primary {
    color: #E09407;
    background-color: #00563B;
    border-color: #00563B;
}

.form-content .btn-primary:hover {
    color: #FFC107;
    background-color: #009666;
    border-color: #009666;
}

/* Header */

.header-spacer {
    height: 79px;
}

.logo {
    height: 4em;
    width: auto;
    padding: 2px;
}

/* Navbar */
.navbar-toggler {
    /* Fixes the toggler icon to the right of the navbar */
    position: fixed;
    right: 10px;
    border: none;
}

.navbar-light .navbar-toggler-icon {
    /* Removes the default Bootstrap navbar toggler icon */
    background-image: none;
}

button:focus {
    /* Removes the default Bootstrap outline when clicking the navbar toggler */
    outline: unset;
}

/* Base styles for the navbar toggler icon */
.menu-icon {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00563b;
    transition: 0.5s ease;
    border-radius: 2px;
}

/* Positioning the three bars for the navbar toggler */
.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 10px;
}

.menu-icon span:nth-child(3) {
    top: 20px;
}

/* Changes the bars to an X when navbar is expanded */
.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

/* Login Page */

.form-content {
    /* Makes the login page the height of the user's device minus the footer and spacers */
    min-height: calc(100vh - 110px - 79px - 15px);
}

/* Footer */

.footer-spacer {
    height: 15px;
}

.footer {
    background-color: #00563B;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.footer .contact-text {
    margin: 0;
    font-size: 16px;
}

.footer .contact-link {
    color: #E09407;
    text-decoration: none;
}

.footer .contact-link:hover {
    text-decoration: underline;
    color: #FFC107;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-link {
    color: #E09407;
    margin: 0 10px;
    font-size: 24px;
}

.footer .social-link:hover {
    color: #FFC107;
}

@media only screen and (min-width: 576px) {

    /* Header */

    .navbar-nav {
        font-size: larger;
    }

}

@media only screen and (min-width: 768px) {

    /* Forms */

    .form-content {
        min-height: calc(100vh - 132.8px - 79px - 15px);
    }

    .form-content p {
        font-size: larger;
    }

    /* Header */

    .navbar-nav li {
        padding: 0 10px;
    }

    /* Footer */

    .footer .contact-text {
        font-size: larger;
    }

    .footer .social-link {
        font-size: 36px;
        margin: 0 20px;
    }

}

/* @media only screen and (min-width: 1000px) {} */