{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center form-content">
        <div class="row justify-content-center w-100">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Log In</h1>

                <!-- Link to the registration page -->
                <p class="text-center">Don't have an account?</p>
                <p class="text-center"><a href="{% url 'register' %}">Register here!</a></p>

                <!-- Login Form -->
                <div class="form-container mx-auto">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <!-- Email field -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="username" id="email" class="form-control" placeholder="Enter your email" required>
                        </div>

                        <!-- Password field -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}