html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #2F2F2B;
    background-color: #daffed;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 600;
    color: #00563b;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
    padding-top: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    color: #2F2F2B;
}

a {
    color: #E09407;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FFC107;
}

.btn-primary {
    color: #E09407;
    background-color: #00563B;
    border-color: #00563B;
}

.btn-primary:hover {
    color: #FFC107;
    background-color: #009666;
    border-color: #009666;
}

#testing-index {
    height: 1000px;
    background-color: #00563b;
}

/* Containers */

.container {
    max-width: unset;
}

/* Forms */

.form-container {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;
}

.form-container .form-group input,
.form-container .form-group select,
.booking-form {
    max-width: 475px;
    margin: 0 auto;
}

.form-content {
    /* Makes the form pages the height of the user's device minus the footer, header and spacers */
    min-height: calc(100vh - 110px - 64px - 15px);
}

/* Base */

.header-spacer {
    height: 64px;
}

.footer-spacer {
    height: 15px;
}

/* Header */

.logo {
    height: 4em;
    width: auto;
    padding: 2px;
}

/* Navbar */
.navbar-toggler {
    /* Fixes the toggler icon to the right of the navbar */
    position: fixed;
    right: 10px;
    border: none;
}

.navbar-light .navbar-toggler-icon {
    /* Removes the default Bootstrap navbar toggler icon */
    background-image: none;
}

button:focus {
    /* Removes the default Bootstrap outline when clicking the navbar toggler */
    outline: unset;
}

/* Base styles for the navbar toggler icon */
.menu-icon {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00563b;
    transition: 0.5s ease;
    border-radius: 2px;
}

/* Positioning the three bars for the navbar toggler */
.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 10px;
}

.menu-icon span:nth-child(3) {
    top: 20px;
}

/* Changes the bars to an X when navbar is expanded */
.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

/* Index */

/* Hero section */
.hero-section {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.hero-section .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 164, 149, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 2rem;
    max-width: 300px;
}

.hero-subtitle {
    margin-bottom: unset;
    color: #fff;
}

/* Services section */
.service-icon {
    width: 40px;
    height: 40px;
}

.service-details * {
    margin-bottom: .5rem;
}

/* Service Area section */
.service-area-text {
    max-width: 600px;
    margin: 0 auto 1rem;
}

#map {
    height: 500px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 1rem;
}

/* Booking */

/* Booking Form */
.booking-page {
    /* Makes the booking page the height of the user's device minus the footer, header and spacers */
    min-height: calc(100vh - 110px - 64px - 15px);
    text-align: center;
}

.booking-page .alert {
    max-width: fit-content;
    margin: 0 auto 1rem;
}

.booking-section {
    margin-top: 16px;
}

.booking-section form h3 {
    margin-top: 8px;
}

.datepicker-inline {
    width: unset;
    margin: 0 auto 0;
}

.datepicker table {
    margin: 0 auto 0;
}

.btn-unselected,
.service-unselected {
    color: #E09407;
    background-color: #00563B;
    border-color: #00563B;
}

.btn-unselected:hover {
    color: #FFC107;
    background-color: #009666;
    border-color: #009666;
}

.btn-selected,
.service-selected {
    color: #FFC107;
    background-color: #009666;
    border-color: #009666;
}

.btn.time-slot-btn,
.btn.service-btn {
    margin-bottom: 10px;
}

/* Booking Modal */
.modal-title {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 600;
    color: #00563b;
    text-transform: uppercase;
}

#appointment-details,
.my-appointment-details {
    list-style-type: none;
    padding-left: 0;
}

#appointment-details li,
.my-appointment-details li {
    padding-bottom: 10px;
}

.modal-footer {
    display: block;
    text-align: center;
}

.modal-footer .btn {
    display: block;
    width: 200px;
    margin: 10px auto;
}

/* Booking confirmation page */
.confirmation-page,
.my-account-page,
.contact-page {
    margin-top: 1rem;
    margin-left: unset;
    margin-right: unset;
}

.btn-block {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

/* My Bookings page */
#appointment-title {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 600;
    color: #00563b;
    text-transform: uppercase;
    font-size: 1rem;
}

.my-appointment-container {
    max-width: 500px;
    margin: auto;
}

.my-appointment-container li {
    margin-bottom: 10px;
}

/* Contact Page */

.contact-page label {
    display: block;
}

.contact-page #id_message {
    width: 100%;
}

/* Footer */

.footer {
    background-color: #00563B;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.footer .contact-text {
    margin: 0;
    color: #daffed;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-link {
    color: #E09407;
    margin: 0 25px;
    font-size: 24px;
}

.footer .social-link:hover {
    color: #FFC107;
}

@media only screen and (min-width: 576px) {

    /* Header */

    .navbar-nav {
        font-size: larger;
    }

}

@media only screen and (min-width: 768px) {

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem !important;
    }

    p {
        font-size: 1.25rem;
    }

    /* Forms */

    .form-content {
        min-height: calc(100vh - 134px - 64px - 15px);
    }

    /* Header */

    .navbar-nav li {
        padding: 0 10px;
    }

    /* Index */

    /* Hero section */
    .hero-title {
        font-size: 3rem;
        max-width: 400px;
    }

    .hero-subtitle {
        font-size: x-large;
        max-width: 300px;
    }

    /* Services section */
    .services {
        justify-content: center;
    }

    .service-card {
        max-width: 700px;
    }

    .service-icon {
        width: 80px;
        height: 80px;
    }

    /* Booking */

    .booking-page {
        /* Makes the booking page the height of the user's device minus the footer, header and spacers */
        min-height: calc(100vh - 134px - 64px - 15px);
        text-align: center;
    }

    .datepicker table {
        width: 300px;
        height: 300px;
        font-size: 1.25rem;
    }

    /* Booking Confirmation Page */
    .confirmation-page, 
    .my-account-page,
    .contact-page {
        /* Makes the confirmation page the height of the user's device minus the footer, header and spacers */
        min-height: calc(100vh - 134px - 64px - 15px);
        text-align: center;
        margin-top: 0;
    }

    /* Footer */

    .footer .social-link {
        font-size: 36px;
        margin: 0 30px;
    }

}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 2.5rem !important;
    }

    /* Index */

    /* Hero section */
    .hero-title {
        font-size: 4rem;
        max-width: 600px;
    }

    .hero-subtitle {
        max-width: unset;
    }

}